<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Telegram</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="phone">

    <!-- The open chat name-->
    <div class="header"
         th:text="${chat.title}">
        CHAT
    </div>


    <!-- Messages -->
    <div class="messages">

        <div class="message"
             th:each="message : ${messages}">

            <span class="sender"
                  th:text="${message.sender + ': '}">
                Sender:
            </span>

            <span th:text="${message.text}">
                Message
            </span>

        </div>

    </div>

    <!-- The open chat name -->
    <form th:action="@{/telegram/chats/{id}/messages(id=${chat.id})}"
          method="post">

        <input type="text"
               name="text"
               maxlength="500">

        <button type="submit">
            SEND
        </button>

    </form>


    <div class="footer">
        <a href="/telegram">BACK</a>
    </div>

</div>

</body>
</html>