<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Telegram</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="phone">

    <div class="header">
        TELEGRAM
    </div>

    <div class="chat-list">

        <a class="chat-link"
           th:each="chat : ${chats}"
           th:href="@{/telegram/chats/{id}(id=${chat.id})}"
           th:text="${chat.displayTitle()}">
            Chat
        </a>

    </div>

    <div class="footer">
        <a href="/">BACK</a>
    </div>

</div>

</body>
</html>